.litb-cate-menu {
	border-color: #871302;
	background-color: #fff;
	color: #333;
}

.litb-cate-menu .cate-menu {
	background-color: #fff;
}

.litb-cate-menu .cate-menu h2 span {
	color: #666;
}

.litb-cate-menu .cate-menu h2 a {
	border-color: #fff #fff #E7E6E3 #fff;
}

.litb-cate-menu .cate-menu h2 a:hover {
	color: #333;
}

.cate-menu h2 a em {
	border-color: #fff #fff #fff #BDBDBD;
}

#cate-menu dl a {
	color: #333;
	font-size: 14px;
}

#cate-menu dd a {
	font-size: 13px;
}

#cate-menu dl a:hover {
	color: #333;
	text-decoration: underline;
}

#cate-menu dl a.red {
	color: #990000;
}

.cate-menu-out {
	border-color: #871302;
}